/* Styles généraux */
body {
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement */
    height: 100vh;            /* Prend toute la hauteur de la page */
    margin: 0;
    background: linear-gradient(45deg, #001F3F, #0056b3, #008CFF, #00CFFF); 

/* Style du rectangle */
.rectangle {
    width: 30%;     /* Largeur */
    height: 80%;    /* Hauteur */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour un effet 3D */
    display: flex;
    border-radius: 10px;  /* Coins arrondis */
    overflow: hidden;
    flex-direction: column;
}

/* Conteneur de l'avatar */
.avatar-container {
  width: 50%;
  height: 100px;
  overflow: hidden;
  background-color: white;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centre horizontalement */
  margin-top: 30px; /* Ajuste la position */
}

/* Image à l'intérieur du cercle */
.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Formulaire */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px; /* Espacement entre les champs */
  margin-top: 10px; /* Espace sous l'avatar */
  text-align: center;
}

/* Champs de saisie */
.login-form input {
  width: 74%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  margin: 0 auto;
}

/* Bouton de connexion */
.bouton {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.login-form button:hover {
  background-color: blue; /* Orange plus foncé au survol */
}

.separator {
  border: none;
  border-top: 2px solid #ddd; /* Ligne grise claire */
  margin-top: 20px; /* Espace au-dessus de la ligne */
  margin-bottom: 20px; /* Espace en dessous de la ligne */
  width: 80%; /* Largeur de la ligne */
  margin-left: auto;
  margin-right: auto;
}


