html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 45px;
}


.bandeau {
    background-color: royalblue; /* Couleur de fond noire */
    padding: 40px;           /* Ajouter de l'espace intérieur */
    display: flex;
    position: fixed;
    top: 0;                  /* Placer le bandeau en haut de la page */
    left: 0;                 /* Placer le bandeau à gauche de l'écran */
    width: 100%;             /* S'assurer qu'il occupe toute la largeur de la page */
    z-index: 1000;           /* Placer le bandeau au-dessus des autres éléments */
    box-sizing: border-box
}

.rectangle {
    width: 92%;        /* Prend 80% de la largeur, donc 10% de marge de chaque côté */
    height: auto;
    min-height: 80%;
    background-color: whitesmoke; /* Fond rectangle */
    margin: 40px auto; /* Centre le rectangle avec un espace au-dessus */
    display: flex;
    justify-content: flex-start; /* Centre le contenu horizontalement */
    border-radius: 10px; /* Coins arrondis */
    flex-direction: column;
}

/* Conteneur principal */
.container {
    padding: 20px;
    margin: 20px;
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Message si aucun utilisateur trouvé */
p {
    font-size: 18px;
    color: #555;
}