{# Formulaire pour supprimer un utilisateur #}
<form
    method="post"
    action="{{ path('app_user_admin_delete', {'id': user.id}) }}"
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette UE ?');"
    style="display:inline"
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ user.id) }}"
    >
    <button type="submit" class="btn btn-sm btn-danger">
        Supprimer
    </button>
</form>
