{# templates/editmodalue.html.twig #}
<div class="modal fade" id="ueModalEdit" tabindex="-1" aria-labelledby="ueModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ueModalLabel">Créer un Nouveau Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalUeContentEdit">
        <!-- Form content will be inserted here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" id="modifyUe">Modifier UE</button>
      </div>
    </div>
  </div>
</div>