{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}

<div>
    <button class="button-student">Users</button>
    <button class="button-ue">UEs</button>
</div>

<div class="table-div">
    
</div>
{% endblock %}
