{# Formulaire de suppresion d'ue #}
<form
    method="post"
    {# Route vers l'action de suppression avec l'id et l'ue#}
    action="{{ path('app_u_e_admin_delete', {'id': ue.id}) }}"
    {# Pop-up de confirmation #}
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette UE ?');"
    style="display:inline"
>
    {# Champ caché avec le token CSRF#}
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ ue.id) }}"
    >
    {# Bouton declenchant la suppression après confirmation #}
    <button type="submit" class="btn btn-sm btn-danger">
        Supprimer
    </button>
</form>
