<form
    method="post"
    action="{{ path('app_u_e_admin_delete', {'id': ue.id}) }}"
    class="ajax-delete-form-ue"
    data-ue-id="{{ ue.id }}"
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ ue.id) }}"
    >
    <button type="submit" class="btn btn-sm btn-danger">
        Supprimer
    </button>
</form>
