<form method="post"
      action="{{ path('app_u_e_admin_delete', {'id': ue.id}) }}"
      style="display:inline"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette UE ?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete'~ue.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>