{% extends 'base.html.twig' %}
{% block title %}Nouvelle UE{% endblock %}
{% block body %}
  <h1>Créer une nouvelle UE</h1>
  {{ include('ue_admin/_form.html.twig', {
      form: form,
      button_label: 'Créer'
  }) }}
  <a class="btn btn-secondary mt-3" href="{{ path('app_admin_dashboard') }}">
    Annuler
  </a>
{% endblock %}