<input type="hidden"
       name="_token"
       value="{{ csrf_token('delete' ~ post.id) }}">

<button
  type="button"
  class="btn btn-outline-danger btn-sm"
  data-post-id="{{ post.id }}"
  data-action="click->post-actions#deletePost">
  <i class="bi bi-trash"></i> Effacer
</button>
