{% extends 'base.html.twig' %}

{% block title %}Supprimer un Post{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Supprimer le Post</h1>

    <div class="alert alert-danger" role="alert">
        Êtes-vous sûr de vouloir supprimer ce post ?
    </div>

    <form method="post" action="{{ path('app_post_delete', {id: post.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer ce post ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">

        <button class="btn btn-danger">Oui, Supprimer</button>
        <a href="{{ path('app_post_index') }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
