<form 
      method="post"
      action="{{ path('app_post_delete', { id: post.id }) }}"
      class="ajax-delete-form-post"
      data-post-id="{{ post.id }}"
      >

  {# Token CSRF pour la sécuriser la suppresion #}
  <input type="hidden"
         name="_token"
         value="{{ csrf_token('delete' ~ post.id) }}">

  <button type="submit"
          class="btn btn-outline-danger btn-sm">
    <i class="bi bi-trash"></i> Effacer
  </button>
</form>
